.asideSidebar {
  width: 265px;
  height: 100%;
  transition: all 0.3s ease;
  background-color: #fff;
  position: fixed;
  top:0; 
  bottom:0; 
  left:0;
  z-index: 2;
  box-shadow: 0 1px 2px #ccc;
  align-items: center;
}

.asideSidebar li {
    list-style-type: none;
}
.logoArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 25px;
}

.navSidebar a,
.navSidebar span {
  text-decoration: none;
  color: #a2a3b7;
  font-weight: 700;
  display: flex;
  flex-grow: 1;
  padding: 0;
  white-space: nowrap;
  min-height: 44px;
  padding: 9px 25px;
  font-size: 13px;
  list-style-type: none;
}

.navSidebar a:hover,
.navSidebar span:hover {
  background-color: #000;
  color: #fff;
  align-items: center;
  cursor: pointer;
}

.navSidebarDashboard a,
.navSidebarDashboard a:hover {
  background-color: #5f77f6;
  color: #fff;
  align-items: center;
}

.navSidebarMain {
  color: #4c4e6f;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  font-size: 11.7px;
  padding: 9px 25px;
  margin-top: 20px;
  line-height: 1.2;
}

.navSidebarSchoolDistribution,
.navSidebarTeacher1 li,
.navSidebarStudent li {
  display: none;
}

.asideSidebar .arrow {
  position: absolute;
  right: 15;
  color: '#5c5e8';
  font-size: 0.7rem;
  flex: '0 0 20px';
}

.asideSidebar i {
    font-size: 13px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    line-height: 0;
}